
@import url("reset.css");
/* font */
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font */
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/*HTML Body*/
/*HTML Body*/
/*HTML Body*/
/*HTML Body*/
*{
      font-family: 'MICEGothic Bold';
}

html,body{
    width: 100%;
    height: 100%;
}
html{
    overflow: hidden;
}
body{
    overflow: auto;
    letter-spacing: -2px;
}

/*HTML Body*/
/*HTML Body*/
/*HTML Body*/
/*HTML Body*/

/*Header*/
/*Header*/
/*Header*/
/*Header*/
header{
    width: 100%;
    height: 100px;
    padding: 20px 50px 0 50px;
    box-sizing: border-box;
    position: fixed;
    z-index: 9999;
    top: 0;
    background-color: white;
    transition: all .3s ease-in-out;
}
.headerBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.nav{
    width: 70%;
    height: 100%;
}
.navList{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navListBox{
    position: relative;
}
.mouseon{
    box-shadow: 0px 60px 0px 0px white;
}

/*SubNavList css*/
/*SubNavList css*/

.subNavList{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom:15px;

}
.fade{
    opacity: 1;
}
.subNavList>a{
    width: 100%;
    text-align: center;
    transition: all .3s ease-in-out;
    margin: 0 15px;
    font-size: 17px;
    color: black;
    transition: all .3s ease-in-out;
}
.subNavList>a:hover{
    letter-spacing: 0;
}
.subNavList>a>li{
    white-space: nowrap;
}
.curtain{
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    background-color: white;
    z-index: -1;
    height: 50px;
}
/*SubNavList css*/
/*SubNavList css*/
.itemBox{
    display: flex;
    transition: all .3s ease-in-out;
    text-decoration: none;
    padding: 80px 15px;
    box-sizing: border-box;
}
.itemBox>li{
    font-size: 1.5vw;
    font-weight: 700;
    color: black;
    margin: 0 3%;
    white-space: nowrap;
}
.itemBox:hover{
    transform: scale(1.1);
    letter-spacing: 0;
    color: antiquewhite;
}
.outBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.outBtn>span{
    font-size: 30px;
    font-weight: 900;
    color: floralwhite;
    transition: all .3s ease-in-out;
}
.outBtn>span:hover{
    transform: scale(1.1);
    color: rgb(255, 255, 255);
}
.logo>img:hover{
    transform: scale(1.1) rotate(-5deg);
}
.logo{
    width: 10%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.logo>img{
    width: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}


/*메인 로고에 써있는 '관리자' css*/
.adminTitle{
    display: block;
    font-family: 'KBO-Dia-Gothic_bold';
    font-weight: 500;
    padding: 1px 8px;
    bottom: -10%;
    right: 20%;
    font-size: .8vw;
    box-sizing: border-box;
    border-radius: 15px;
    font-style: unset;
    color: rgb(112, 112, 112);
    position: absolute;
    background-color: white;
    letter-spacing: 1px;
    white-space: nowrap;
}
/*메인 로고에 써있는 '관리자' css*/

/*Header*/
/*Header*/
/*Header*/
/*Header*/

/*Main Frame*/
/*Main Frame*/
/*Main Frame*/
/*Main Frame*/
main{
    width:100%;
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
    padding-top: 100px;
    box-sizing: border-box;
}
.mainBox{
    width: 100%;
    height:100%;
    border-radius: 15px;
    padding: 50px;
    box-sizing: border-box;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 1px  rgba(0, 0, 0, 0.068);
}
/*Main Frame*/
/*Main Frame*/
/*Main Frame*/
/*Main Frame*/

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*CodeGroupList CSS*/
/*CodeGroupList CSS*/
/*CodeGroupList CSS*/
/*CodeGroupList CSS*/

/*CodeGroupList Table Label CSS*/
/*CodeGroupList Table Label CSS*/

.mainLabelBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}


.addBox{
    margin: 20px 0 20px 0 ;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    transform-origin: left;
}
.addBox:hover{
    transform: scale(1.1);
    color: rgb(52, 149, 182);
}
.addBox>span{
    color: rgba(0, 0, 0, 0.461);
    margin-left: 5px;
    cursor: pointer;
    font-size: 28px;

}
h3{
    width: fit-content;
    font-size: 20px;
    font-weight: 700;
    text-align: start;
    letter-spacing: 0;
    white-space: nowrap;
}
h2{
    width: fit-content;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 0px;
    text-align: start;
    width: 50%;
    white-space: nowrap;
}
.mainLabelBox>span{
    position: absolute;
    left: 120px;
    bottom: 13px;
}
/*CodeGroupList Table Label CSS*/
/*CodeGroupList Table Label CSS*/

/*@@@@@ CodeGroupList Table Filter CSS @@@@@*/
/*@@@@@ CodeGroupList Table Filter CSS @@@@@*/
.searchBox{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 20px;
    width: max-content;
    height: fit-content;
}
.searchInput:focus +span{
    transform: scale(1.2);
    opacity: 1;
}
.searchInput:focus{
    opacity: 1;
}
.searchInput{
    margin-left: 20px;
    height: 25px;
    border: none;
    outline: none;
    transition: all .2s ease-in-out;
    border-bottom: 1px solid rgb(77, 72, 72);
    color: rgb(77, 72, 72);
    opacity: .2;
    font-size: 20px;
    padding: 15px 30px 15px 10px;
    box-sizing: border-box;
}
.inputBox>span:hover{transform: scale(1.1);}
.inputBox>span{
    position: absolute;
    right: 0;
    opacity: .2;
    color: rgb(77, 72, 72);
    font-weight: 900;
    transition: .2s all ease-in-out;
    cursor:pointer;
}
.inputBox{
    position: relative;
}
select{
    font-size: 15px;
    font-weight: 700;
    margin: 0 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px;
    color: rgb(77, 72, 72);
    padding: 5px 15px;
    background-color: rgba(250, 184, 159, 0.1);
}
select[name='delNy']{
    margin-left:15px;
}

/*@@@@@ CodeGroupList Table Filter CSS @@@@@*/
/*@@@@@ CodeGroupList Table Filter CSS @@@@@*/

/*@@@@@@@@@@@@@@ CodeGroupList Table  CSS @@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@ CodeGroupList Table  CSS @@@@@@@@@@@@@@*/

.tableBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.tableBox>table{
    width: 100%;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.068);
}
.tableBox>table>thead{
    font-weight: 700;
    letter-spacing: 0;
    border-radius: 15px;
    color:white;
    background-color: rgba(0, 139, 139,.8);

}
.tableBox>table>thead>tr>th:first-of-type{
    border-top-left-radius: 15px;
}
.tableBox>table>thead>tr>th:last-of-type{
    border-top-right-radius: 15px;
}
.tableBox>table>thead>tr>th,
.tableBox>table>tbody>tr>td{
    border-bottom: 0px solid rgba(0,0,0,0.1);
    padding: 15px 20px;
    letter-spacing: 0;
    white-space: nowrap;
}

.tableBox>table>tbody>tr>td{
    font-size: 15px;
}
.detailBtn {
    font-size: 15px;
    background-color: rgba(243, 243, 243, 0.83);
    border: 1px rgb(146, 146, 146);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-weight: 500;
}
.detailBtn:hover{
    transform: scale(1.2);
    color:white;
    background-color: rgba(0, 139, 139,.7);
}
#nodata{
    color: rgba(0,0,0,0.5) !important;
    padding: 10px;
}

/*@@@@@@@@@@@@@@ CodeGroupList Table  CSS @@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@ CodeGroupList Table  CSS @@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@ CodeGroupList Table  CSS @@@@@@@@@@@@@@*/


/*@@@@@@@@@@@@@@ CodeGroupList Pagination  CSS @@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@ CodeGroupList Pagination  CSS @@@@@@@@@@@@@@*/
.pagination{
    display: flex;
    align-self: center;
    margin-top: 15px;
    padding: 15px;
}
.nextPage{
    background-color: white;
    padding: 0;
    transition: all .3s ease-in-out;
}
.nextPage:hover{
    transform: scaleY(1.4);
}
.pagination_ul{
    display: flex;
    align-items: center;
}
pagination_ul>li{
    transition: all .3s ease-in-out;
}

.liBox{
    font-size: 20px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.41);
}
.active{
    font-weight: 900;
    color: rgba(255, 16, 16, 0.89);
   transform: scaleY(1.2);
}
.liBox>span{
    font-weight: 900;
    opacity: .5;
    transition: all .3s ease-in-out;
}
.liBox>span:hover{
    opacity: .7;
}

/*@@@@@@@@@@@@@@ CodeGroupList Pagination  CSS @@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@ CodeGroupList Pagination  CSS @@@@@@@@@@@@@@*/




/*CodeGroupList CSS*/
/*CodeGroupList CSS*/
/*CodeGroupList CSS*/
/*CodeGroupList CSS*/

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*CodeGroupForm CSS*/
/*CodeGroupForm CSS*/

/*CodeGroupForm Table <input>*/
/*CodeGroupForm Table <input>*/
.searchInput_form{
    margin-left: 20px;
    height: 25px;
    width: 100px;
    text-align: center;
    border: none;
    outline: none;
    transition: all .2s ease-in-out;
    border-bottom: 1px dashed rgb(77, 72, 72);
    color: rgb(77, 72, 72);
    opacity: .8;
    font-size: 20px;
    padding: 15px 0;
    box-sizing: border-box;
    overflow: visible;
}
/*CodeGroupForm Table <input>*/
/*CodeGroupForm Table <input>*/

/*CodeGroupForm Table */
.tableBox_form{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.tableBox_form>table{
    width: 60%;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.068);
}
.tableBox_form>table>thead>tr>th{
    padding: 10px 20px;
    color: #585858;
}
.tableBox_form>table>thead{
    font-weight: 700;
    letter-spacing: 0;
    border-radius: 15px;
    margin: 20px 20px;
     background-color: rgba(0, 139, 139,.3);

}
.tableBox_form>table>thead>tr>th:first-of-type{
    border-top-left-radius: 15px;
}
.tableBox_form>table>thead>tr>th:last-of-type{
    border-top-right-radius: 15px;
}
.tableBox_form>table>thead>tr>th,.tableBox_form>table>tbody>tr>td{
    border-bottom: 0px solid rgba(0,0,0,0.1);
    padding: 10px 5px;
    letter-spacing: 0;
    white-space: nowrap;
}
.tableBox_form>table>tbody>tr>td{
    font-size: 15px;
}

.searchInput_formSeq{
    margin-left: 20px;
    height: 25px;
    width: 50px;
    text-align: center;
    border: none;
    outline: none;
    transition: all .2s ease-in-out;
    color: rgb(77, 72, 72);
    opacity: .8;
    font-size: 20px;
    padding: 15px 0;
    box-sizing: border-box;
}

.btn {
    font-size: 18px;
    color: #ffffff;
    border: 1px rgb(146, 146, 146);
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-weight: 500;
    margin: 0 5px;
    white-space: nowrap;
    transition: all .3s ease-in-out;
}
.insertBtn{
    background-color: rgba(60, 179, 113, 0.52);
}
.insertBtn:hover{
    background-color: rgba(60, 179, 113, 0.99);
}
.updateBtn{
    background-color: rgba(106, 90, 205, 0.45);
}
.updateBtn:hover{
    background-color: rgba(106, 90, 205, 0.75);
}
.deleteBtn{
    background-color: rgba(255, 0, 0, 0.48);
}
.deleteBtn:hover{
    background-color: rgba(255, 0, 0, 0.98);
}
#back2list{
    text-align: center;
    font-size: 30px;
    color: darkgrey;
    padding-top: 5px;
    transition: all .3s ease-in-out;
}
#back2list:hover{
    transform: scale(1.1) translate(5px);
    color: rgb(52, 149, 182);
}
/*CodeGroupForm Table */



/*CodeGroupForm CSS*/
/*CodeGroupForm CSS*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 768px: responsive @@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (max-width: 780px) and (min-width: 360px) {


    /*Header*/
    /*Header*/
    /*Header*/
    /*Header*/
    header{
        width: 100%;
        height: 100px;
        padding: 20px 50px;
        box-sizing: border-box;
        position: fixed;
        z-index: 9999;
        top: 0;
        background-color: coral;
        transition: all .3s ease-in-out;
    }
    .headerBox{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav{
        width: 70%;
        height: 100%;
    }
    .navList{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navListBox{
        position: relative;
    }
    .mouseon{
        box-shadow: 0px 60px 0px 0px coral;
    }

    /*SubNavList css*/
    /*SubNavList css*/

    .subNavList{
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
        left: 0;
        bottom:15px;

    }
    .fade{
        opacity: 1;
    }
    .subNavList>a{
        width: 100%;
        text-align: center;
        transition: all .3s ease-in-out;
        margin: 0 15px;
        font-size: 17px;
        color: white;
        transition: all .3s ease-in-out;
    }
    .subNavList>a:hover{
        letter-spacing: 0;
    }
    .subNavList>a>li{
        white-space: nowrap;
    }
    .curtain{
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        background-color: white;
        z-index: -1;
        height: 50px;
    }
    /*SubNavList css*/
    /*SubNavList css*/
    .itemBox{
        display: flex;
        transition: all .3s ease-in-out;
        text-decoration: none;
        padding: 80px 15px;
    }
    .itemBox>li{
        font-size: 18px;
        font-weight: 700;
        color: white;
        margin: 0 30px;
        white-space: nowrap;
    }
    .itemBox:hover{
        transform: scale(1.1);
        letter-spacing: 0;
        color: antiquewhite;
    }
    .outBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1%;
        height: 100%;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
    }
    .outBtn>span{
        font-size: 30px;
        font-weight: 900;
        color: floralwhite;
        transition: all .3s ease-in-out;
    }
    .outBtn>span:hover{
        transform: scale(1.1);
        color: rgb(255, 255, 255);
    }
    .logo>img:hover{
        transform: scale(1.1) rotate(-5deg);
    }
    .logo{
        width: 8%;
        margin-left: -2%;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
    }
    .logo>img{
        width: 100%;
        object-fit: cover;
        transition: all .3s ease-in-out;
    }


    /*메인 로고에 써있는 '관리자' css*/
    .adminTitle{
        display: block;
        font-family: 'KBO-Dia-Gothic_bold';
        font-weight: 500;
        padding: 1px 8px;
        bottom: -10%;
        right: 20%;
        font-size: .8vw;
        box-sizing: border-box;
        border-radius: 15px;
        font-style: unset;
        color: rgb(112, 112, 112);
        position: absolute;
        background-color: white;
        letter-spacing: 1px;
        white-space: nowrap;
    }
    /*메인 로고에 써있는 '관리자' css*/

    /*Header*/
    /*Header*/
    /*Header*/
    /*Header*/


}
